<div class="card">
    <div class="card-body">
        <h5 class="card-title">Student Details</h5>
        <div class="row">
            <div class="col-md-6">
                <p class="card-text"><strong>Id:</strong> {{std.id }}</p>
            </div>
            <div class="col-md-6">
                <p class="card-text"><strong>Name:</strong> {{std.name}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="card-text"><strong>Age:</strong >  {{ std.age }}</p>
            </div>
        </div>
    </div>
</div>


