/* You can add global styles to this file, and also import other style files */

:root {
    --main-color: #fb7e18;
    --light-color: #fff;
    --dark-color: #202020;
  
    --grey-color:#D9D9D9;
    --shadow: #e6e6e6;
    --font-family: "Poppins", sans-serif;
    --small-font: 18px;
  }